################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
*.map
/obj/Release
*.pubxml
*.user
*.dat
*.cache
